.icon {
  /* Inherit properties from text */
  fill: currentColor;
  height: 1em;

  /* Fix icon alignment */
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Fit the SVGs to the container */
/* Over-rides inline attributes of the SVG */
.icon svg {
  height: 100%;
  width: auto;
}
